body {
    background-color: #141B29; /* Dark background similar to Hotstar */
    color: white;
    font-family: 'Poppins', sans-serif; /* Changed font */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 80%;
}

.logo {
    width: 300px; /* Medium logo size */
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif; /* Different font */
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    color: #00A8E1; /* Hotstar Blue */
}

/* Slider for movie posters */
.slider {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider img {
    width: 250px;
    height: 375px;
    margin: 0 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.slider img:hover {
    transform: scale(1.1);
}

/* Updated buttons */
.links {
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    background-color: #1F80E0; /* Hotstar themed button */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #00A8E1;
}

.links img {
    width: 20px; /* Icon size */
    margin-right: 10px; /* Space between icon and text */
}
