<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kastro's App</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="app-container">
        <!-- Welcome Message -->
        <h1 class="app-title">Welcome to sunny App</h1>

        <!-- Footer Message -->
        <div class="footer">
            <h2 class="footer-message">Congratulations for learning SonarQube</h2>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
